<%= form_with(model: officer, local: true) do |form| %>
  <% if officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(officer.errors.count, "error") %> prohibited this officer from being saved:</h2>

      <ul>
        <% officer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :peoplesoft_id %>
    <%= form.number_field :peoplesoft_id %>
  </div>

  <div class="field">
    <%= form.label :officer_position_id %>
    <%= form.collection_select :officer_position_id, OfficerPosition.all, :id, :position %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :middle_initial %>
    <%= form.text_field :middle_initial %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth, :start_year => Date.current.year, :end_year => 1920 %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip %>
  </div>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.collection_select :state_id, State.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.collection_select :country_id, Country.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :home_phone %>
    <%= form.text_field :home_phone %>
  </div>

  <div class="field">
    <%= form.label :mobile_phone %>
    <%= form.text_field :mobile_phone %>
  </div>

  <div class="field">
    <%= form.label :officer_status_id %>
    <%= form.collection_select :officer_status_id, OfficerStatus.all, :id, :status %>
  </div>

  <div class="field">
    <%= form.label :payment %>
    <%= form.check_box :payment %>
  </div>

  <div class="field">
    <%= form.label :student_class_id %>
    <%= form.collection_select :student_class_id, StudentClass.all, :id, :class %>
  </div>

  <div class="field">
    <%= form.label :major %>
    <%= form.text_field :major %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
