<div class="officer-container">
<%= form_with(model: officer, local: true, html: {class: "officer-form"}) do |form| %>
  <% if officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(officer.errors.count, "error") %> prohibited this officer from being saved:</h2>

      <ul>
        <% officer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :peoplesoft_id, class: "required" %>
    <%= form.number_field :peoplesoft_id, :size=>"7" %>
  </div>

  <div class="field">
    <%= form.label :officer_position_id, class: "required" %>
    <%= form.collection_select :officer_position_id, OfficerPosition.all, :id, :position, {:prompt => 'Select Officer Position'} %>
    <%= form.fields_for :officer_position do |p| %>
      <%= render 'officer_position_fields', :f => p %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add a Officer Position', form, :officer_position %>
    </div>
  </div>

  <div class="field">
    <%= form.label :first_name, class: "required" %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :middle_initial %>
    <%= form.text_field :middle_initial, :size=>"1" %>
  </div>

  <div class="field">
    <%= form.label :last_name, class: "required" %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth, class: "required" %>
    <%= form.date_select :date_of_birth, :start_year => Date.current.year, :end_year => 1920, order: [:month, :day, :year] %>
  </div>

  <div class="field">
    <%= form.label :address, class: "required" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :city, class: "required" %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :zip, class: "required" %>
    <%= form.text_field :zip, :size=>"10" %>
  </div>

  <div class="field">
    <%= form.label :state_id, class: "required" %>
    <%= form.collection_select :state_id, State.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :country_id, class: "required" %>
    <%= form.collection_select :country_id, Country.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :home_phone %>
    <%= form.text_field :home_phone, :size=>"16", placeholder: "XXX-XXXX-XXXX" %>
  </div>

  <div class="field">
    <%= form.label :mobile_phone, class: "required" %>
    <%= form.text_field :mobile_phone, :size=>"16", placeholder: "XXX-XXXX-XXXX" %>
  </div>

  <div class="field">
    <%= form.label :officer_status_id, class: "required" %>
    <%= form.collection_select :officer_status_id, OfficerStatus.all, :id, :status, {:prompt => 'Select Officer Status'} %>
    <%= form.fields_for :officer_status do |o| %>
      <%= render 'officer_status_fields', :f => o %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add a Officer Status', form, :officer_status %>
    </div>
  </div>

  <div class="field">
    <%= form.label :payment %>
    <%= form.check_box :payment %>
  </div>

  <div class="field">
    <%= form.label :student_class_id, class: "required" %>
    <%= form.collection_select :student_class_id, StudentClass.all, :id, :student_class, {:prompt => 'Select Student Class'} %>
  </div>

  <div class="field">
    <%= form.label :major, class: "required" %>
    <%= form.text_field :major, :size=>"25" %>
  </div>

  <div class="actions">
    <%= form.submit %>
   
  </div>
 

 
  <%= link_to 'Back', officers_path %>
<% end %> 
</div>
