<p id="notice"><%= notice %></p>

<h1>Officers</h1>

<table>
  <thead>
    <tr>
      <th>Peoplesoft</th>
      <th>Position</th>
      <th>First name</th>
      <th>Middle initial</th>
      <th>Last name</th>
      <th>Date of birth</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip</th>
      <th>State</th>
      <th>Country</th>
      <th>Home phone</th>
      <th>Mobile phone</th>
      <th>Officer Status</th>
      <th>Payment</th>
      <th>Student class</th>
      <th>Major</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @officers.each do |officer| %>
      <tr>
        <td><%= officer.peoplesoft_id %></td>
        <td><%= officer.officer_position_id %></td>
        <td><%= officer.first_name %></td>
        <td><%= officer.middle_initial %></td>
        <td><%= officer.last_name %></td>
        <td><%= officer.date_of_birth %></td>
        <td><%= officer.address %></td>
        <td><%= officer.city %></td>
        <td><%= officer.zip %></td>
        <td><%= officer.state_id %></td>
        <td><%= officer.country_id %></td>
        <td><%= officer.home_phone %></td>
        <td><%= officer.mobile_phone %></td>
        <td><%= officer.officer_status_id %></td>
        <td><%= officer.payment %></td>
        <td><%= officer.student_class_id %></td>
        <td><%= officer.major %></td>
        <td><%= link_to 'Show', officer %></td>
        <td><%= link_to 'Edit', edit_officer_path(officer) %></td>
        <td><%= link_to 'Destroy', officer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Officer', new_officer_path %>
