<p id="notice"><%= notice %></p>

<p>
  <strong>Peoplesoft:</strong>
  <%= @officer.peoplesoft_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @officer.officer_position.position %>
</p>

<p>
  <strong>First name:</strong>
  <%= @officer.first_name %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%= @officer.middle_initial %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @officer.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @officer.date_of_birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @officer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @officer.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @officer.zip %>
</p>

<p>
  <strong>State:</strong>
  <%= @officer.state.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @officer.country.name %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @officer.home_phone %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @officer.mobile_phone %>
</p>

<p>
  <strong>Officer status:</strong>
  <%= @officer.officer_status.status %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @officer.payment %>
</p>

<p>
  <strong>Student class:</strong>
  <%= @officer.student_class.student_class %>
</p>

<p>
  <strong>Major:</strong>
  <%= @officer.major %>
</p>

<%= link_to 'Edit', edit_officer_path(@officer) %> |
<%= link_to 'Back', officers_path %>
