<%= form_with(model: sponsor_type, local: true) do |form| %>
  <% if sponsor_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsor_type.errors.count, "error") %> prohibited this sponsor_type from being saved:</h2>

      <ul>
        <% sponsor_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type, class: "required" %>
    <%= form.text_field :type, :size=>"25" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "required" %>
    <%= form.text_field :description, :size=>"100" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
