<div class="background">
<div class="show-box">
<p id="notice"><%= notice %></p>
<div class="show-container">
  <h1>Coordinator</h1><br>
<ul class="w3-ul w3-xlarge">
<li>
  <strong>Peoplesoft:</strong>
  <%= @coordinator.peoplesoft_id %>
</li>

<li>
  <strong>Position:</strong>
  <%= @coordinator.coordinator_position.position %>
</li>

<li>
  <strong>First name:</strong>
  <%= @coordinator.first_name %>
</li>

<li>
  <strong>Middle initial:</strong>
  <% if @coordinator.middle_initial.present? %>
  <%= @coordinator.middle_initial + '.' %>
  <% else %>
    <%= @coordinator.middle_initial %>
  <% end %>
</li>

<li>
  <strong>Last name:</strong>
  <%= @coordinator.last_name %>
</li>

<li>
  <strong>Date of birth:</strong>
  <%= @coordinator.date_of_birth %>
</li>

<li>
  <strong>Address:</strong>
  <%= @coordinator.address %>
</li>

<li>
  <strong>City:</strong>
  <%= @coordinator.city %>
</li>

<li>
  <strong>Zip:</strong>
  <%= @coordinator.zip %>
</li>

<li>
  <strong>State:</strong>
  <%= @coordinator.state.name %>
</li>

<li>
  <strong>Country:</strong>
  <%= @coordinator.country.name %>
</li>

<li>
  <strong>Home phone:</strong>
  <% @coordinator.home_phone %>
  <% if @coordinator.home_phone.present? %>
  <%= @coordinator.home_phone %>
  <% else %>
    <%= 'None' %>
  <% end %>
</li>

<li>
  <strong>Mobile phone:</strong>
  <%= @coordinator.mobile_phone %>
</li>

<li>
  <strong>Coordinator status:</strong>
  <%= @coordinator.coordinator_status.status %>
</li>

<li>
  <strong>Payment:</strong>
  <% @coordinator.payment %> <% if @coordinator.payment == true %>
      <%= image_tag "check.png", class: "check"%>
    <% else %>
      <%= image_tag "cross.png", class: "cross"%>
    <% end %>
</li>

<li>
  <strong>Student class:</strong>
  <%= @coordinator.student_class.student_class %>
</li>

<li>
  <strong>Major:</strong>
  <%= @coordinator.major %>
</li>

<%= link_to 'Edit', edit_coordinator_path(@coordinator), class: "backbtn" %> |
<%= link_to 'Back', coordinators_path, class: "backbtn" %>
</div>
</div>
</div>
