<p id="notice"><%= notice %></p>

<p>
  <strong>Peoplesoft:</strong>
  <%= @coordinator.peoplesoft_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @coordinator.position %>
</p>

<p>
  <strong>First name:</strong>
  <%= @coordinator.first_name %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%= @coordinator.middle_initial %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @coordinator.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @coordinator.date_of_birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @coordinator.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @coordinator.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @coordinator.zip %>
</p>

<p>
  <strong>State:</strong>
  <%= @coordinator.state_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @coordinator.country_id %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @coordinator.home_phone %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @coordinator.mobile_phone %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @coordinator.payment %>
</p>

<p>
  <strong>Student class:</strong>
  <%= @coordinator.student_class_id %>
</p>

<p>
  <strong>Major:</strong>
  <%= @coordinator.major %>
</p>

<%= link_to 'Edit', edit_coordinator_path(@coordinator) %> |
<%= link_to 'Back', coordinators_path %>
