<title>Logic Glass</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <%= link_to "Home", home_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %>
    <%= link_to "Events", events_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %>
    <%= link_to "Members", members_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %>
    <%= link_to "Officers", officers_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %>
    <%= link_to "Coordinators", coordinators_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %>
    <%= link_to "Sponsors", sponsors_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %>
    <%= link_to "Reports", reports_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %>
    <% if current_user %>
    <div style="display: flex; justify-content: flex-end"><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %></div>
    <% else %>
    <div style="display: flex; justify-content: flex-end"><%= link_to 'Log In', new_user_session_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %></div>
    <% end %>
  </div>

  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <%= link_to "Home", home_path, class: "w3-bar-item w3-button w3-padding-large" %>
    <%= link_to "Events", events_path, class: "w3-bar-item w3-button w3-padding-large" %>
    <%= link_to "Members", members_path, class: "w3-bar-item w3-button w3-padding-large" %>
    <%= link_to "Officers", officers_path, class: "w3-bar-item w3-button w3-padding-large" %>
    <%= link_to "Coordinators", coordinators_path, class: "w3-bar-item w3-button w3-padding-large" %>
    <%= link_to "Sponsors", sponsors_path, class: "w3-bar-item w3-button w3-padding-large" %>
    <%= link_to "Reports", reports_path, class: "w3-bar-item w3-button w3-padding-large" %>
    <% if current_user %>
    <div style="display: flex; justify-content: flex-end"><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "w3-bar-item w3-button w3-padding-large" %></div>
    <% else %>
    <div style="display: flex; justify-content: flex-end"><%= link_to 'Log In', new_user_session_path, class: "w3-bar-item w3-button w3-padding-large" %></div>
    <% end %>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:60px 16px">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h1 class="w3-margin w3-jumbo">AITP Check-In App</h1><br>
  <%= link_to "Launch Check-In", check_in_menu_path, class: "w3-button w3-black w3-padding-large w3-large w3-margin-top"%>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>AITP Check-In System</h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="w3-third w3-center">
      <%= image_tag("logiclogo.jpg") %>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-blue w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <%= image_tag("aitplogo.png") %>
    </div>

    <div class="w3-twothird">
      <h1>AITP Member & Event Tracking</h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-24">
    <h1 class="w3-margin w3-large">Provided to University of Houston AITP</h1>
    <p><%= link_to "Website", "https://aitpuh.org/", :target => "_blank" %></p>
    <i class="fa fa-twitter w3-hover-opacity"><%= link_to "Twitter", "https://twitter.com/UHaitp", :target => "_blank" %></i>
</div>


<script>
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
