<div class="background">
<p id="notice"><%= notice %></p>
<div class="show-box">
<div class="show-container">
  <h1>Event</h1><br>
<ul class="w3-ul w3-xlarge">
<li>
  <strong>Description:</strong>
  <%= @event.description %>
</li>

<li>
  <strong>Event date:</strong>
  <%= @event.event_date.strftime("%b %e %Y %I:%M %p") %>
</li>

<li>
  <strong>Event type:</strong>
  <%= @event.event_type.event_type %>
</li>

<li>
  <strong>Event status:</strong>
  <%= @event.event_status.status %>
</li>

<li>
  <strong>Sponsor:</strong>
  <%= @event.sponsor.full_name %>
</li>

<li>
  <strong>Fee:</strong>
  <%= number_to_currency(@event.fee) %>
</li>

<li>
  <strong>Address:</strong>
  <%= @event.address %>
</li>

<li>
  <strong>Building name:</strong>
  <%= @event.building_name %>
</li>

<li>
  <strong>City:</strong>
  <%= @event.city %>
</li>

<li>
  <strong>Zip:</strong>
  <%= @event.zip %>
</li>

<li>
  <strong>State:</strong>
  <%= @event.state.name %>
</li>

<li>
  <strong>Country:</strong>
  <%= @event.country.name %>
</li>

<%= link_to 'Edit', edit_event_path(@event), class: "backbtn" %> |
<%= link_to 'Back', events_path, class: "backbtn" %>
</div>
