<div class="background">
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type.event_type %>
</p>

<p>
  <strong>Event status:</strong>
  <%= @event.event_status.status %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @event.sponsor.full_name %>
</p>

<p>
  <strong>Fee:</strong>
  <%= number_to_currency(@event.fee) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Building name:</strong>
  <%= @event.building_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @event.country.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
