<%= form_with(model: sponsor, local: true) do |form| %>
  <% if sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
        <% sponsor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company, class: "required" %>
    <%= form.text_field :company, :size=>"25" %>
  </div>

  <div class="field">
    <%= form.label :first_name, class: "required" %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name, class: "required" %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :home_phone %>
    <%= form.text_field :home_phone, :size=>"16", placeholder: "XXX-XXXX-XXXX" %>
  </div>

  <div class="field">
    <%= form.label :mobile_phone, class: "required" %>
    <%= form.text_field :mobile_phone, :size=>"16", placeholder: "XXX-XXXX-XXXX" %>
  </div>

  <div class="field">
    <%= form.label :sponsor_type_id, class: "required" %>
    <%= form.collection_select :sponsor_type_id, SponsorType.all, :id, :sponsor_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
