<div class="background">
<p id="notice"><%= notice %></p>
<div class="show-box">
<div class="show-container">
  <h1>Sponsor</h1><br>
<ul class="w3-ul w3-xlarge">
<li>
  <strong>Company:</strong>
  <%= @sponsor.company %>
</li>

<li>
  <strong>First name:</strong>
  <%= @sponsor.first_name %>
</li>

<li>
  <strong>Last name:</strong>
  <%= @sponsor.last_name %>
</li>

<li>
  <strong>Home phone:</strong>
  <% @sponsor.home_phone %>
  <% if @sponsor.home_phone.present? %>
  <%= @sponsor.home_phone %>
  <% else %>
    <%= 'None' %>
  <% end %>
</li>

<li>
  <strong>Mobile phone:</strong>
  <%= @sponsor.mobile_phone %>
</li>

<li>
  <strong>Sponsor type:</strong>
  <%= @sponsor.sponsor_type.sponsor_type %>
</li>
<br><br>
<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
</ul>
</div>
</div>
</div>
