<h1>Reports powered by LogicGlass</h1>
    <table class="table">
        <thead>
            <tr>
            <th style="width: 200px;">Company Name</th>
                <th style="width: 200px;">Sponsor First Name</th>
                <th style="width: 200px;">Sponsor Last Name</th>
                <th style="width: 200px;">Sponsor Phone Number</th>
                <th style="width: 200px;">Sponsor Type</th>
            </tr>
        </thead>
        <tbody>
        <% @sponsors.each do |sponsor| %>
            <tr>
                <td><%= sponsor.company %></td>
                <td><%= sponsor.first_name %></td>
                <td><%= sponsor.last_name %></td>
                <td><%= sponsor.mobile_phone%></td>
                <td><%= sponsor.sponsor_type.sponsor_type%></td>
            </tr>
        <% end%>
        </tbody>
    </table>
    

