<p id="notice"><%= notice %></p>

<h1>Coordinator Check Ins</h1>

<table>
  <thead>
    <tr>
      <th>Coordinator</th>
      <th>Event</th>
      <th>Check in date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coordinator_check_ins.each do |coordinator_check_in| %>
      <tr>
        <td><%= coordinator_check_in.coordinator_id %></td>
        <td><%= coordinator_check_in.event_id %></td>
        <td><%= coordinator_check_in.check_in_date.strftime("%I:%M %p") %></td>
        <td><%= link_to 'Show', coordinator_check_in %></td>
        <td><%= link_to 'Edit', edit_coordinator_check_in_path(coordinator_check_in) %></td>
        <td><%= link_to 'Destroy', coordinator_check_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coordinator Check In', new_coordinator_check_in_path %>
