<div class="background">
<p id="notice"><%= notice %></p>

<p>
  <strong>Coordinator:</strong>
  <%= @coordinator_check_in.coordinator.full_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @coordinator_check_in.event.description %>
</p>

<p>
  <strong>Check in time:</strong>
  <%= @coordinator_check_in.check_in_date.strftime("%I:%M %p") %>
</p>

<%= link_to 'Edit', edit_coordinator_check_in_path(@coordinator_check_in) %> |
<%= link_to 'Back', coordinator_check_ins_path %>
</div>
