<%= form_with(model: member_check_in, local: true) do |form| %>
  <% if member_check_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member_check_in.errors.count, "error") %> prohibited this member_check_in from being saved:</h2>

      <ul>
        <% member_check_in.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :member_id, class: "required" %>
    <%= form.collection_select :member_id, Member.all, :id, :full_name %>
  </div>

  <div class="field">
    <%= form.label :event_id, class: "required" %>
    <%= form.collection_select :event_id, Event.all, :id, :event_name, :selected => Event.last %>
  </div>

  <div class="field">
    <%= form.label :check_in_date, class: "required" %>
    <%= form.datetime_select :check_in_date, :start_year => Date.current.year, :end_year => 1920, :ampm => true, order: [:month, :day, :year] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
