<%= form_with(model: officer_status, local: true) do |form| %>
  <% if officer_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(officer_status.errors.count, "error") %> prohibited this officer_status from being saved:</h2>

      <ul>
        <% officer_status.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status, class: "required" %>
    <%= form.text_field :status, :size=>"16" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "required" %>
    <%= form.text_field :description, :size=>"100" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
