<p id="notice"><%= notice %></p>

<h1>Coordinator Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coordinator_statuses.each do |coordinator_status| %>
      <tr>
        <td><%= coordinator_status.status %></td>
        <td><%= coordinator_status.description %></td>
        <td><%= link_to 'Show', coordinator_status %></td>
        <td><%= link_to 'Edit', edit_coordinator_status_path(coordinator_status) %></td>
        <td><%= link_to 'Destroy', coordinator_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coordinator Status', new_coordinator_status_path %>
