<p id="notice"><%= notice %></p>

<h1>Countries</h1><br>

<section class="">
<div class="wrap-table100">
<div class="table100">
<table>
  <thead>
    <tr class="table100-head">
      <th class="column1">Name</th>
      <th class ="column2">Country abbreviation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td class="column1"><%= country.name %></td>
        <td class="column2"><%= country.country_abbreviation %></td>
        <td class="column3"><%= link_to 'View Country', country, class: "show" %></td>
        <td class="column4"><%= link_to 'Edit Country', edit_country_path(country), class: "show" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Country', new_country_path, class: "add" %>
</div>
</div>
</section>
