<div class="background">
<p id="notice"><%= notice %></p>

<p>
  <strong>Officer:</strong>
  <%= @officer_check_in.officer.full_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @officer_check_in.event.description %>
</p>

<p>
  <strong>Check in time:</strong>
  <%= @officer_check_in.check_in_date.strftime("%I:%M %p") %>
</p>

<%= link_to 'Edit', edit_officer_check_in_path(@officer_check_in) %> |
<%= link_to 'Back', officer_check_ins_path %>
</div>
