<p id="notice"><%= notice %></p>

<h1>Student Classes</h1>

<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_classes.each do |student_class| %>
      <tr>
        <td><%= student_class.student_class %></td>
        <td><%= student_class.description %></td>
        <td><%= link_to 'View Class', student_class, class: "show" %></td>
        <td><%= link_to 'Edit', edit_student_class_path(student_class) %></td>
        <td><%= link_to 'Destroy', student_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Class', new_student_class_path %>
