<%= wicked_pdf_stylesheet_link_tag "application" %>
<h1>Reports</h1>
<%= link_to 'Back', 'javascript:history.back()', class: "backbtn" %> <%= link_to 'Export Reports', '/reports.pdf', class: "add" %>
<div class="charts">

<%= pie_chart Event.joins(:event_type).group('Event_Type').count, title: "Events by Event Type", download: true %><br><br>

<%= area_chart Event.group_by_month(:event_date, time_zone: false).count, title: "Events per Month", xtitle: "Month", ytitle: "Number of Events", download: true %><br><br>

<%= bar_chart MemberCheckIn.joins(:event).order('count(member_id) DESC').group('description').limit(5).count('member_id'), title: "Top 5 Highest Attended Events", xtitle: "Number of Members", ytitle: "Event", download: true %><br><br>

<%= pie_chart Member.group(:payment).count, title: "Members' Payment Status", download: true%><br><br>

<%= pie_chart Sponsor.joins(:sponsor_type).group('Sponsor_Type').count, title: "Sponsors by Sponsor Type", download: true %>



</div>
