<!DOCTYPE html>
<html>
  <head>
    <title>LogicGlassApplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-green w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <%= link_to "Home", home_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %>
        <%= link_to "Events", events_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %>
        <%= link_to "Members", members_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %>
        <%= link_to "Officers", officers_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %>
        <%= link_to "Coordinators", coordinators_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %>
        <%= link_to "Reports", reports_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" %>
      </div>

      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <%= link_to "Home", home_path, class: "w3-bar-item w3-button w3-padding-large" %>
        <%= link_to "Events", events_path, class: "w3-bar-item w3-button w3-padding-large" %>
        <%= link_to "Members", members_path, class: "w3-bar-item w3-button w3-padding-large" %>
        <%= link_to "Officers", officers_path, class: "w3-bar-item w3-button w3-padding-large" %>
        <%= link_to "Coordinators", coordinators_path, class: "w3-bar-item w3-button w3-padding-large" %>
        <%= link_to "Reports", reports_path, class: "w3-bar-item w3-button w3-padding-large" %>
      </div>
    </div>
    <br><br>
    <%= yield %>
  </body>
</html>
