<p id="notice"><%= notice %></p>

<h1>Members</h1><br>

<section class="">
<div class="wrap-table100">
<div class="table100">
<table>
  <thead>
    <tr class="table100-head">
      <th class="column1">Peoplesoft</th>
      <th class="column2">Full name</th>
      <th class="column3">Student class</th>
      <th class="column4">Major</th>
      <th class="column5">Paid</th>
      <th class="column6">Member Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td class="column1"><%= member.peoplesoft_id %></td>
        <td class="column2"><%= member.full_name %></td>
        <td class="column3"><%= member.student_class_id %></td>
        <td class="column4"><%= member.major %></td>
        <td class="column5"><%= member.payment %></td>
        <td class="column6"><%= member.member_status_id %></td>
        <td class="column7"><%= link_to 'Show', member %></td>
        <td class="column8"><%= link_to 'Edit', edit_member_path(member) %></td>
        <td class="column9"><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Member', new_member_path, class: "add" %>
</div>
</div>
</section>
