<div class="background">
<p id="notice"><%= notice %></p>
<div class="show-box">
<div class="show-container">
  <h1>Member</h1><br>
<ul class="w3-ul w3-xlarge">
<li>
  <strong>Peoplesoft:</strong>
  <%= @member.peoplesoft_id %>
</li>

<li>
  <strong>First name:</strong>
  <%= @member.first_name %>
</li>

<li>
  <strong>Middle initial:</strong>
  <% @member.middle_initial %>
  <% if @member.middle_initial.present? %>
  <%= @member.middle_initial + '.' %>
  <% else %>
    <%= @member.middle_initial %>
  <% end %>
</li>

<li>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</li>

<li>
  <strong>Date of birth:</strong>
  <%= @member.date_of_birth %>
</li>

<li>
  <strong>Address:</strong>
  <%= @member.address %>
</li>

<li>
  <strong>City:</strong>
  <%= @member.city %>
</li>

<li>
  <strong>Zip:</strong>
  <%= @member.zip %>
</li>

<li>
  <strong>State:</strong>
  <%= @member.state.name %>
</li>

<li>
  <strong>Country:</strong>
  <%= @member.country.name %>
</li>

<li>
  <strong>Home phone:</strong>
  <% @member.home_phone %>
  <% if @member.home_phone.present? %>
  <%= @member.home_phone %>
  <% else %>
    <%= 'None' %>
  <% end %>
</li>

<li>
  <strong>Mobile phone:</strong>
  <%= @member.mobile_phone %>
</li>

<li>
  <strong>Member status:</strong>
  <%= @member.member_status.status %>
</li>

<li>
  <strong>Payment:</strong>
  <% @member.payment %> <% if @member.payment == true %>
      <%= image_tag "check.png", class: "check"%>
    <% else %>
      <%= image_tag "cross.png", class: "cross"%>
    <% end %>
</li>

<li>
  <strong>Student class:</strong>
  <%= @member.student_class.student_class %>
</li>

<li>
  <strong>Major:</strong>
  <%= @member.major %>
</li>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
</div>
</div>
</div>
